---
---

@import "minima";

.wrapper {
  max-width: -webkit-calc(1000px - (30px * 2));  /* Safari/older browsers */
  max-width: calc(1000px - (30px * 2));          /* Modern browsers */
  margin-right: auto;                           /* Center horizontally */
  margin-left: auto;                            /* Center horizontally */
  padding-right: 30px;                          /* Right inner spacing */
  padding-left: 30px;                           /* Left inner spacing */
}

.site-header {
  border-top:0px solid #424242;
  border-bottom:1px solid #e8e8e8;
  min-height:55.95px;
  position:relative
}